<!DOCTYPE html>
<div class="form-view">
  Campos em * são obrigatórios!
  <br><br>
  <form method="post" action="/cadastro/cliente/criar">
 
    <div class="form-group">
      <label for="tipo">Tipo da conta</label>
      <br>
      <select name="tipo" id="select-tipo">
        <option value="Empresa" >Empresa</option>
        <option value="Pessoa física">Pessoa física</option>
      </select> 
    </div>
    
    <div id="div-nome" class="form-group" style="width:300px">
		  <label for="exampleInputNome1">* Nome:</label>
      <input type="text" class="form-control" value="<%- cliente.nome %>" id="inputNome" name="nome" placeholder="Nome">
      <div id="erroNome" style="color:red;">
        	<%- message %>
		  </div>
    </div>

	  <div id="div-endereco" class="form-group" style="width:300px">
		  <label for="exampleInputEndereco1">* Endereço:</label>
     	<input type="text" class="form-control" value="<%- cliente.endereco %>" id="inputEndereco" name="endereco" placeholder="Endereço">
		  <div id="erroEndereco" style="color:red;">
         	<%- message %>
		  </div>
    </div>

	  <div id="div-identificador" class="form-group" style="width:300px">
		  <label for="exampleInputIdentificador1">* Identificador:</label>
     	<input type="text" class="form-control" value="<%- cliente.identificador %>" id="inputIdentificador" name="identificador" placeholder="CPF ou CNPJ">
		  <div id="erroIdentificador" style="color:red;">
        	<%- message %>
		  </div>
    </div>

	<div id="div-telefone" class="form-group" style="width:300px">
		  <label for="exampleInputTelefone1">* Telefone:</label>
     	<input type="text" class="form-control" value="<%- cliente.telefone %>" id="inputTelefone" name="telefone" placeholder="Telefone">
		  <div id="erroTelefone" style="color:red;">
        	<%- message %>
		  </div>
    </div>

	<div id="div-email" class="form-group" style="width:300px">
		  <label for="exampleInputEmail1">Email:</label>
     	<input type="email" class="form-control" value="<%- cliente.email %>" id="inputEmail" name="email" placeholder="Email">
		  <div id="erroEmail" style="color:red;">
        	<%- message %>
		  </div>
    </div>

    <button type="submit" class="btn btn-default">Cadastrar</button>
  </form>
</div>

<script>
$(document).ready(function() {
  $("#cadastro").attr("class", "active");
  $(".page-header").html("Cadastro Cliente");
});
$("#select-tipo").val("<%- cliente.tipo %>");

$("#erroNome").hide();
$("#erroEndereco").hide();
$("#erroIdentificador").hide();
$("#erroTelefone").hide();
$("#erroEmail").hide();

<% if (erro == 1) { %>
	$("#div-nome").attr("class", "has-error");
    $("#erroNome").show();
<% } %>

<% if (erro == 2) { %>
	$("#div-endereco").attr("class", "has-error");
    $("#erroEndereco").show();
<% } %>

<% if (erro == 3) { %>
	$("#div-identificador").attr("class", "has-error");
    $("#erroIdentificador").show();
<% } %>

<% if (erro == 4) { %>
	$("#div-telefone").attr("class", "has-error");
    $("#erroTelefone").show();
<% } %>

<% if (erro == 5) { %>
	$("#div-email").attr("class", "has-error");
    $("#erroEmail").show();
<% } %>
</script>
