<!DOCTYPE html>
<div class="form-view">
    Campos em * são obrigatórios!
    <br><br>
    <form method="post" action="/cadastro/maquina/criar">
        
        <div id="div-fabricante" class="form-group" style="width:300px">
        <label for="exampleInputFabricante1">* Fabricante:</label>
        <input type="text" class="form-control" value="<%- maquina.fabricante %>" id="inputFabricante" name="fabricante" placeholder="Fabricante">
            <div id="erroFabricante" style="color:red;">
                <%- message %>
            </div>
        </div>

        <div id="div-modelo" class="form-group" style="width:300px">
        <label for="exampleInputModelo1">* Modelo:</label>
        <input type="text" class="form-control" value="<%- maquina.modelo %>"id="inputModelo" name="modelo" placeholder="Modelo">
            <div id="erroModelo" style="color:red;">
                <%- message %>
            </div>
        </div>

        <div id="div-dono" class="form-group" style="width:300px">
        <label for="exampleInputDono1">* Cliente:</label>
        <input type="text" class="form-control" value="<%- maquina.dono %>" id="inputDono" name="dono" placeholder="ID, CPF ou CNPJ">
            <div id="erroDono" style="color:red;">
                <%- message %>
            </div>
        </div>

        <div id="div-video" class="form-group" style="width:300px">
        <label for="exampleInputVideo1">* Vídeo:</label>
        <input type="text" class="form-control" value="<%- maquina.video %>" id="inputVideo" name="video" placeholder="Vídeo">
            <div id="erroVideo" style="color:red;">
                <%- message %>
            </div>
        </div>

        <div id="div-ram" class="form-group" style="width:300px">
        <label for="exampleInputRam1">* RAM:</label>
        <input type="text" class="form-control" value="<%- maquina.ram %>" id="inputRam" name="ram" placeholder="RAM">
            <div id="erroRam" style="color:red;">
                <%- message %>
            </div>
        </div>

        <div id="div-processador" class="form-group" style="width:300px">
        <label for="exampleInputProcessador1">* Processador:</label>
        <input type="text" class="form-control" value="<%- maquina.processador %>" id="inputProcessador" name="processador" placeholder="Processador">
            <div id="erroProcessador" style="color:red;">
                <%- message %>
            </div>
        </div>

        <div id="div-placamae" class="form-group" style="width:300px">
        <label for="exampleInputPlacamae1">* Placa-mãe:</label>
        <input type ="text" class="form-control" value="<%- maquina.placamae %>" id="inputPlacamae" name="placamae" placeholder="Placa-mãe">
            <div id="erroPlacamae" style="color:red;">
                <%- message %>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Cadastrar</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $("#cadastro").attr("class", "active");
        $(".page-header").html("Cadastro Máquinas");
    });

    $("#erroFabricante").hide();
    $("#erroModelo").hide();
    $("#erroDono").hide();
    $("#erroVideo").hide();
    $("#erroRam").hide();
    $("#erroProcessador").hide();
    $("#erroPlacamae").hide();
    
    <% if (erro == 1) { %>
        $("#div-fabricante").attr("class", "has-error");
        $("#erroFabricante").show();
    <% } %>

    <% if (erro == 2) { %>
        $("#div-modelo").attr("class", "has-error");
        $("#erroModelo").show();
    <% } %>

    <% if (erro == 3 || erro == 11) { %>
        $("#div-dono").attr("class", "has-error");
        $("#erroDono").show();
    <% } %>

    <% if (erro == 4) { %>
        $("#div-video").attr("class", "has-error");
        $("#erroVideo").show();
    <% } %>

    <% if (erro == 5) { %>
        $("#div-ram").attr("class", "has-error");
        $("#erroRam").show();
    <% } %>

    <% if (erro == 6) { %>
        $("#div-processador").attr("class", "has-error");
        $("#erroProcessador").show();
    <% } %>

    <% if (erro == 7) { %>
        $("#div-placamae").attr("class", "has-error");
        $("#erroPlacamae").show();
    <% } %>

</script>
