<!DOCTYPE html>
<div class="form-view">
  Campos em * são obrigatórios!
  <br><br>
  <form method="post" action="/cadastro/produto/criar">
    <div id="div-nome" class="form-group" style="width:300px">
      <label for="exampleInputNome1">* Nome do Produto</label>
      <input type="text" class="form-control" value="<%- produto.nome %>" id="inputNome" name="nome" placeholder="Nome" required>
      <div id="erroNome" style="color:red;">
        <%- message %>
      </div>
    </div>
    <div id="div-marca" class="form-group" style="width:300px">
      <label for="exampleInputMarca1">* Marca</label>
      <input type="text" name="marca" class="form-control" value="<%- produto.marca %>" id="inputMarca" placeholder="Marca" required>
      <div id="erroMarca" style="color:red;">
        <%- message %>
      </div>
    </div>
    <div id="div-modelo" class="form-group" style="width:300px">
      <label for="exampleInputModelo1">* Modelo</label>
      <input type="text" name="modelo" class="form-control" value="<%- produto.modelo %>" id="inputModelo" placeholder="Modelo" required>
      <div id="erroModelo" style="color:red;">
        <%- message %>
      </div>
    </div>
    <div id="div-quantidade" class="form-group" style="width:300px">
      <label for="exampleInputQuantidade1">* Quantidade</label>
      <input type="number" name="quantidade" min="0" class="form-control" value="<%- produto.quantidade %>" id="inputQuantidade" placeholder="Quantidade em estoque" required>
      <div id="erroQuantidade" style="color:red;">
        <%- message %>
      </div>
    </div>
    <div id="div-valor" class="form-group" style="width:300px">
      <label for="exampleInputValor1">* Valor R$ </label>
      <input type="number" step="0.01" min="0" name="valor" class="form-control" value="<%- produto.valor %>" id="inputValor" placeholder="Valor unitário" required>
      <div id="erroValor" style="color:red;">
        <%- message %>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Cadastrar</button>
  </form>
</div>

<script>
$(document).ready(function() {
    $("#cadastro").attr("class", "active");
    $(".page-header").html("Cadastro Produto");
    });
$("#erroNome").hide();
$("#erroMarca").hide();
$("#erroModelo").hide();
$("#erroValor").hide();
$("#erroQuantidade").hide();
<% if (erro == 3 || erro == 4) { %>
  $("#div-nome").attr("class", "has-error");
  $("#erroNome").show();
<% } %>  

</script>